* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #017dfb;
}

.button {
  color: #017dfb;
  background-color: #ffffff;
  border-radius: 30px;
  border: 0;
  height: 50px;
  width: 190px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.section__title {
  padding: 55px 0;
  color: #CFD4DF;
  display: flex;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
}

.section {
  margin: 0 20px 30px;
  height: 100%;
}



///////////////////////////////////////// Start: Header

.header {
  height: 240px;
  width: 100%;
  padding: 20px 20px 0;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  // grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
}

.header__logo {
  margin-left: 10em;
}

.header__button {
  // position: relative;
  grid-area: 1/4/1/5;
  // margin-left: 4em;
  justify-self: center;

  -webkit-box-shadow: 0px 0px 20px 2px rgba(1,125,251,0.25);
  -moz-box-shadow: 0px 0px 20px 2px rgba(1,125,251,0.25);
  box-shadow: 0px 0px 20px 2px rgba(1,125,251,0.25);
}

// button,
// button:active,
// button:focus {
//   outline: none;
// }

// input,
// input:active,
// input:focus {
//   outline: none;
// }

.header__menu {
  grid-area: 1/3/1/4;
}

.header__nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header__nav-links a {
  color: #BEC5D3;
}

///////////////////////////////////////// End: Header

////////////////////////////////////////// Start: Section Greece

// .banner__image{
//     width: 100%;
// }

.section_banner {
  margin-bottom: 0;
}

.banner__content {
  display: grid;
}

.section_banner {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 17%;
  padding-bottom: 13%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.banner__title {
  text-transform: uppercase;
  color: #017dfb;
  font-weight: 600;
  letter-spacing: 0.5em;
  padding: 2em 0 2em 0;
  justify-self: center;
}

.banner__button {
  justify-self: center;


}

////////////////////////////////////////// End: Section Greece

////////////////////////////////////////// Start: Section Search

.section_search {
  height: 155px;
  background-color: #017dfb;
}

.form {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;


  &__field {
    position: relative;
    width: 70%;
    height: 50%;
    margin: auto 0;
    display: flex;
    align-items: center;

  }

  &__label {
    position: absolute;
    width: 100%;
    height: 80%;
    pointer-events: none;
    // border-bottom: 1px solid #fff;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__img {
    padding-right: 3px;
    // transition: all 0.5s ease;
  }

   
  &__input {
    position: absolute;
    font-family: inherit;
    font-size: inherit;
    background-color: #017dfb;
    border: 0;
    width: 100%;
    height: 30%;
    border-bottom: 1px solid #1B8AFB;
  }

  &__submit {
    width: 47px;
    height: 47px;
    box-shadow: 0 0 45px rgba(205, 205, 205, 0.85);
    background-color: #ffffff;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin-right: auto;
  }

}

// .form .form__input:focus+.form__field_label .form__field_label_name,
// .form .form__input:focus+.form__field_label .form__field_label_img,
// .form .form__input:valid+.form__field_label .form__field_label_name {
// .form .form__input:valid+.form__field_label .form__field_label_img
//   transform: translateY(-150%);
//   color: yellow;
// }

// .form .form__input:focus+.form__field_label::after {
// .form .form__input:valid+.form__field_label::after
// transform: translateX(0%)
// }

// form input:focus+.form__field_label .form__field_label_name {
//   transform: translateY(-150%);
// }

////////////////////////////////////////// End: Section Search



////////////////////////////////////////// Start: Section Hotels

.section_hotels  {
  background-color: #F9F9F9;
}

.content_hotels {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 210px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

.card {
  height: 442px;
  width: 372px;
  background-color: #C7C7C7;
  position: relative;
  display: flex;
  justify-content: center;
  &__content {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 30px 30px 15px;
 
  }
  &__title {
    color: #6D7C9C;
    font-size: 16px;
    font-weight: 400;
    align-self: center;
    padding-left: 2px;
  }
  &__days {
    font-size: 12px;
    font-weight: 600;
    color: #6D7C9C;
    opacity: 0.4;
    justify-self: end;
    padding-right: 20px;
  }
  &__prise {
    color: #808DA9;
    font-size: 30px;
    font-weight: 100;
    justify-self: end;
  }
  &__button {
    position: absolute;
    bottom: 0;
    // display: flex;
    // justify-self: center;
    transform: translateY(50%);
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.25);  
  }
  &__rating {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: row-reverse;
    height: 40px;
    position: relative;
    input {
      display: none;
    }
    label {
      cursor: pointer;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
      transition: .3s;
    }
    input:checked ~ label,
    input:checked ~ label ~ label {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }
    input:not(:checked) ~ label:hover,
    input:not(:checked) ~ label:hover ~ label {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }
  }
}

// .card__rating > input:checked ~ label,
// .card__rating > input:checked ~ label ~ label {
//       background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
//     }
// .card__rating > input:not(:checked) ~ label:hover,
// .card__rating > input:not(:checked) ~ label:hover ~ label {
//   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
//  }

.more-cards {
  color: #CCCCCC;
  border: 2px solid #E9E9E9;
  background-color: #F9F9F9;
  position: absolute;
  bottom: 80px;
}




////////////////////////////////////////// End: Section Hotels

////////////////////////////////////////// Start: Section Places


.gallery {
  display: grid;
  grid-t
}

.picture {
  width: 560px;
  height: 275px;
  background-repeat: no-repeat;
}

////////////////////////////////////////// End: Section Places