.main-card {
    position: relative;
    background-size: cover;
    /* background-position: 100% 100%; */
    background-repeat: no-repeat;
    height: 50vh;
}

.main-card__wrapper{
    height: 100vh;
}


/*.swiper-slide__image{*/
/*    z-index: -2;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*}*/
.main-card:before {
    z-index: 0;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(3, 4, 9);
    background: linear-gradient(0deg, rgba(3, 4, 9, 1) 0%, rgba(3, 4, 9, 0.9) 20%, rgba(3, 4, 9, 0) 100%);
    pointer-events: none;
}

.main-card__content {
    padding: 200px 0;
    margin: 0 auto;
    width: 80%;
    position: relative;
    z-index: 1;
}


@media screen and (min-width: 998px) {
    .main-card__content {
        width: 40%;
        margin: 0 0 0 auto;
        text-align: left;
    }
}


.main-card__title {
    margin: 0 auto 30px;
    background-repeat: no-repeat;
    height: 175px;
    width: 315px;

}


.main-card__link {
    padding: 15px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: 18px;
    width: 130.5px;
    margin: 0 auto;
    display: block;
}

.main-card__link:hover {
    background-color: whitesmoke;
    color: #2E2F29;
    border-color: #2E2F29;
    transition: all .5s ease;
}

.main-card__link .link-arrow:hover {
    box-shadow: 0 0 7px 0 #000000;
}


.link-arrow {
    border: 1px solid white;
    font-size: 18px;
    padding: 15px;
}

.main-card__link .link-arrow {
    margin-right: -16px;
    margin-left: 15px;
}