.upcoming-card {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 715px;
    height: 405px;
    /* border-radius: 15px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.upcoming-card__content {
    position: absolute;
    bottom: 0;
    height: 240px;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr; */
    grid-template-areas: "title title"
        "date  date"
        "desc  platform";
    grid-template-rows: auto auto auto;
}

.upcoming-card__title {
    font-size: 50px;
    color: #EBE0DC;
    grid-area: title;
}

.upcoming-card__release-date {
    color: #EBE0DC;
    text-align: center;
    grid-area: date;
}

.upcoming-card__description {
    grid-area: desc;
}

.upcoming-card__platforms {
    grid-area: platform;
}